.navbar {
    padding: 10px 20px;
    height: 50px;

    box-shadow: 1px .5px 3px rgb(129, 127, 127);
    display: flex;
    justify-content: space-between;

    &__search {
        display: flex;

        form {
            display: flex;
            align-items: center;
            border: 1px solid #1480bd;
            border-radius: 20px;
            padding: 0 .5rem;
            overflow: hidden;
            flex: 1;
            width: 100%;
            svg {
                color: #1480bd;
                cursor: pointer;
            }

            input {
                border: none;
                padding: 0rem 0;
                height: 1rem;
                background-color: transparent;
                min-width: 100px;
                max-width: 500px;
                width: 100%;

                &:hover,
                &:active,
                &:visited,
                &:focus {
                    outline: none;
                    border: none;

                }
            }
        }
    }

    &__icons {
        display: flex;
        align-items: center;

        h3 {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            margin-right: 20px;

            b {
                margin-left: .5rem;
            }

            span {
                position: absolute;
                top: -5px;
                right: -5px;
                background-color: rgb(163, 45, 45);
                color: white;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: .8rem;
                }
            }

            &:nth-last-of-type(1) {
                margin-right: 0px;
            }
        }

        svg {
            color: #1480bd;
        }
    }
}