body{
    scroll-behavior: smooth;
}
.app-dark{
    background-color: #251B37;
    color: grey;
    a{
        color: grey;
    }
    .css-1e2bxag-MuiDataGrid-root,
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
        background-color: transparent !important;
        color: grey;
        tr{
            border-bottom: 1px solid gray;
            td{
                color: gray;
            }

            .progress-bar{background-color: transparent;}
            .css-1yhpg23-MuiTableCell-root,.css-1ex1afd-MuiTableCell-root,.css-177gid-MuiTableCell-root{border: none;}
        }
        
    }

    .sidebar{
        border-color: gray !important;
        .sidebar__top{
            border-color: inherit;
        }

    }
    .progress-bar{
        background-color: transparent;
    }
    .app__productOverview__content__left__heading__icons{
        background-color: transparent;
    }
    .app__productOverview__content__right__agent{
     box-shadow: 0 0 3px grey !important;   
    }
    input,select,option{
        color: gray;
        background-color: transparent;
    }
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1480bd; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }